apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: unitydocs-redirect
  namespace: {{ helm_namespace }}
spec:
  redirectRegex:
    regex: "^https?://docs\\.sengporkeat\\.com/(.*)"
    replacement: "https://{{ nextcloud_domain }}/apps/unitydocs/"
    permanent: true
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unitydocs-ingress
  namespace: {{ helm_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: {{ helm_namespace }}-unitydocs-redirect@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - docs.sengporkeat.com
      secretName: docs-tls-secret
  rules:
    - host: docs.sengporkeat.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: unitysheets-redirect
  namespace: {{ helm_namespace }}
spec:
  redirectRegex:
    regex: "^https?://sheet\\.sengporkeat\\.com/(.*)"
    replacement: "https://{{ nextcloud_domain }}/apps/unitydocs/?view=sheet"
    permanent: true
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unitysheets-ingress
  namespace: {{ helm_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: {{ helm_namespace }}-unitysheets-redirect@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - sheet.sengporkeat.com
      secretName: sheet-tls-secret
  rules:
    - host: sheet.sengporkeat.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: unityslides-redirect
  namespace: {{ helm_namespace }}
spec:
  redirectRegex:
    regex: "^https?://slide\\.sengporkeat\\.com/(.*)"
    replacement: "https://{{ nextcloud_domain }}/apps/unitydocs/?view=slide"
    permanent: true
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unityslides-ingress
  namespace: {{ helm_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: {{ helm_namespace }}-unityslides-redirect@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - slide.sengporkeat.com
      secretName: slide-tls-secret
  rules:
    - host: slide.sengporkeat.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: unitydiagrams-redirect
  namespace: {{ helm_namespace }}
spec:
  redirectRegex:
    regex: "^https?://diagram\\.sengporkeat\\.com/(.*)"
    replacement: "https://{{ nextcloud_domain }}/apps/unitydocs/?view=diagram"
    permanent: true
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unitydiagrams-ingress
  namespace: {{ helm_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: {{ helm_namespace }}-unitydiagrams-redirect@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - diagram.sengporkeat.com
      secretName: diagram-tls-secret
  rules:
    - host: diagram.sengporkeat.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
